.fieldCards {
   margin-top: 5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

.userAccountForm {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid;
   padding: 2rem;
   margin-top: 5rem;
}

.players-box{
   border: 1px solid;
}