.contact-form {
    border: 3px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 2rem;
    width: 20rem;
    height: 29rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}