*{
    font-family: Montserrat, sans-serif;
}
.mapped_image {
    width : 75%;
    height : auto;
}

.faq-fab {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    background: white;
    color: black;
    border: 1px solid black;
    margin: 2rem;
}

.faq-fab:hover {
    background: black;
    color: white;
}

.scaler {
    transition: transform 0.3s;
}

.scaler:hover {
    transform: scale(1.1);
}

.relative{
    position: relative;
}

.sportsPage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.myFieldsRenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.sportHeader {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.cardRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.home_slika{
    opacity: 0.7;
    filter: alpha(opacity=30);
}

.home_slika:hover{
    opacity: 1.0;
    filter: alpha(opacity=100);
}

/* sports */
.basketball{
    position: absolute;
    left: 13%;
    top: 0%;
    width: 7%;
    height: 70%;
}

.paintball{
    position: absolute;
    left: 20%;
    top: 20%;
    width: 5%;
    height: 75%;
}

.tennis{
    position: absolute;
    left: 25%;
    top: 20%;
    width: 6%;
    height: 80%;
}

.ice_skating{
    position: absolute;
    left: 31%;
    top: 20%;
    width: 10%;
    height: 80%;
}

.football{
    position: absolute;
    left: 41%;
    top: 20%;
    width: 5%;
    height: 80%;
}

.volleyball{
    position: absolute;
    left: 46%;
    top: 0%;
    width: 6%;
    height: 80%;
}

.boxing{
    position: absolute;
    left: 52%;
    top: 20%;
    width: 10%;
    height: 80%;
}

.handball{
    position: absolute;
    left: 62%;
    top: 20%;
    width: 10%;
    height: 80%;
}

.table_tennis{
    position: absolute;
    left: 72%;
    top: 20%;
    width: 8%;
    height: 80%;
}

.hockey{
    position: absolute;
    left: 80%;
    top: 20%;
    width: 8%;
    height: 80%;
}

/* LOADER */

:root {
    --loader-width: 250px;
    --loader-dot-size: 20px;
}

.loader {
    height: var(--loader-dot-size);
    width: var(--loader-width);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.loader--dot {
    animation: loader 3s ease-in-out infinite;
    height: var(--loader-dot-size);
    width: var(--loader-dot-size);
    border-radius: 100%;
    background-color: black;
    position: absolute;
    border: 2px solid white;
}

.loader--dot:first-child {
    background-color: #8cc759;
    animation-delay: 0.5s;
}

.loader--dot:nth-child(2) {
    background-color: #8c6daf;
    animation-delay: 0.4s;
}

.loader--dot:nth-child(3) {
    background-color: #ef5d74;
    animation-delay: 0.3s;
}

.loader--dot:nth-child(4) {
    background-color: #f9a74b;
    animation-delay: 0.2s;
}

.loader--dot:nth-child(5) {
    background-color: #60beeb;
    animation-delay: 0.1s;
}

.loader--dot:nth-child(6) {
    background-color: #fbef5a;
    animation-delay: 0s;
}

.loader--text {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 200%;
    left: 0;
    right: 0;
    width: 4rem;
    margin: auto;
}

.loader--text:after {
    content: "Loading";
    font-weight: bold;
    animation: loading-text 3s infinite;
}

@keyframes loader {
    15% {
        transform: translateX(0);
    }
    45% {
        transform: translateX(calc(var(--loader-width) - var(--loader-dot-size)));
    }
    65% {
        transform: translateX(calc(var(--loader-width) - var(--loader-dot-size)));
    }
    95% {
        transform: translateX(0);
    }
}

@keyframes loading-text {
    0% {
        content: "Loading";
    }
    25% {
        content: "Loading.";
    }
    50% {
        content: "Loading..";
    }
    75% {
        content: "Loading...";
    }
}
