.registerForm {
    position: relative;
    border: 3px solid #ccc;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 2rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: left !important;
    margin-bottom: 2rem;
}

.registerForm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/home_image.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    filter: blur(2.6px);
    z-index: -1;
    opacity: 0.5;
}

.registerType {
    transform: scale(1.3);
    margin-left: 30px;
    font-weight: 640;
}

.form-label {
    font-weight: bold;
}

.registerType input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid black;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    transition: border-color 0.3s;
}

.registerType input[type="radio"]:hover {
    border-color: #ccc;
}

.input {
    border: 2.5px solid #ccc !important;
    border-radius: 7px !important;
    box-shadow: 0 0 5px rgba(0,0,0,0.2) !important;
}

.radio-group {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.nextButton {
    float: right;
    margin-left: 40px;
}

.previousButton {
    float: left;
    margin-right: 40px;
}

.terms input[type="checkbox"] {
    border: 2px solid black;
}

.terms-and-conditions {
    font-size: 14px;
}

@media (max-width: 768px) {
    .terms-and-conditions {
        font-size: 12.5px;
    }
}

@media (max-width: 576px) {
    .terms-and-conditions {
        font-size: 10.5px;
    }
}

.gender {
    padding-right: 9.5rem;
}

.date {
    padding-right: 7.2rem;
    margin-bottom: 7px;
}

.login-button {
    float: right;
    margin-top: 7px;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ccc;
    border: none;
    border-radius: 50%;
    display: inline-block;
}

.step.active {
    background-color: black;
}

.steps {
    text-align: center;
    margin-bottom: 15px;
}




