.register-page {
    height: 76vh;
    display: flex;
    align-items: center;
}

.registerForm {
    background: white;
    position: relative;
    border: 1px solid black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.registerForm::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
}

.registerType {
    transform: scale(1.3);
    margin-left: 30px;
    font-weight: 640;
}

.form-label {
    font-weight: bold;
}

.registerType input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid black;
    width: 16px;
    height: 16px;
    transition: border-color 0.3s;
}

.registerType input[type="radio"]:hover {
    border-color: #ccc;
}

.radio-group {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.nextButton {
    float: right;
    margin-top: 1rem !important;
}

.previousButton {
    float: left;
    margin-top: 1rem !important;
}

.sports-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.date {
    padding-right: 7.2rem;
    margin-bottom: 7px;
}

.login-button {
    float: right;
    margin-top: 7px;
}

.custom-time-input {
    background: #eee;
    border: none;
    padding: .5rem;
    width: 80%;
    outline: none;
}

/* Style for the steps container */
.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Style for each step */
.step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #98dad9;
}

/* Style for the active step */
.step.active {
    background-color: #2e424d;
    box-shadow: 0 0 0 2px #2e424d;
}

/* Style for the completed steps */
.step.completed {
    background-color: #5b8291;
}

/* Optional: Animation for the active step */
.step.active {
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}


