.containerRenter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
}

.cardRenter {
    width: 550px;
    padding: 5px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cardRenter-header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
}

.cardRenter-header h2 {
    margin: 0;
    font-size: 32px;
}

.cardRenter-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profile-picture img {
    width: 120px;
    height: 120px;
    border-radius: 20%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    margin-bottom: 15px;
}

.profile-details {
    margin-top: 20px;
}

.detail {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
}

.icon {
    font-size: 30px;
    margin-right: 10px;
    flex-shrink: 0;
}

.detail p {
    margin: 0;
    align-self: center;
}

.sportList {
    text-align: left;
    list-style-type: none;
    margin-left: -33px;
    margin-bottom: -5px;
}

.buttonEdit {
    float: right;
    border-radius: 10%;
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    margin-right: 3px;
    margin-bottom: 3px;
    transition: transform 0.3s;
}

.buttonEdit:hover {
    transform: scale(1.1);
}
