.small_logo{
    max-height: 100px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

footer {
    background-color: #3D938B;
    flex: 0 0 50px;
    margin-top: auto;
}